{% block header %}
    <div class="header">
        <div class="grid-container">
            <div class="grid-x">
                <div class="small-6 medium-6 large-6">
                    <a href="/"><img src="{{ asset('assets/logo/vacit-logo-white.png')}}" class="headerlogo"></a>
                </div>
                <div class="small-6 medium-6 large-6">
                    <button class="menu-icon" type="button" data-toggle=""></button>
                </div>
            </div>
        </div>
    </div>
       
    <div class="grid-x">
        <div class="small-12 medium-12 large-12">
            <div class="triangle">
            </div>
        </div>
    </div>
    

{% endblock %}
