.orangebackground{
    background-color: #F15A24;
    width: 100%;
    height: 100%;
}

.vacancydatetext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: -40px;
}

.arrowstyle{
    font-size: 6rem;
    color: white;
    opacity: 0.8;
    padding-top: 50px;
}

.arrowstyle:hover{
    opacity: 1.0;
    color: white;
}

.functiontext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    opacity: 0.8;
    margin-left: -40px;
}

.functiontext:hover{
    color: white;
    opacity: 1.0;
}

.descriptiontext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-style: italic; 
    /* font-weight: bold; */
    margin-left: -40px;
}

.hexagon-homepage{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color:black;
    width: 175px;
    height: 175px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

/* http://jsfiddle.net/Lt8bct5x/ */
/* https://stackoverflow.com/questions/11978231/vertically-center-two-elements-within-a-div/31977476#31977476 */

.icon-home{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    background-color: white;
}

.triangle-homepage {
    width: 100%;
    height: 30px;
    background: rgb(241,90,36);
    background: linear-gradient(179.5deg, rgba(241,90,36,1) 0%, rgba(241,90,36,1) 50%, rgba(171,65,27,1) 51%, rgba(241,90,36,1) 61%, rgba(241,90,36,1) 100%);
}
    
.triangle-footer-homepage{
    width: 100%;
    height: 30px;
    background: rgb(241,90,36);
    background: linear-gradient(359.5deg, rgba(241,90,36,1) 0%, rgba(241,90,36,1) 50%, rgba(171,65,27,1) 51%, rgba(241,90,36,1) 61%, rgba(241,90,36,1) 100%);
}

.box{
    display: flex;
    justify-content: center;
}

.hexagon-homepage-vegas{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color:black;
    margin-top: 100px;
    width: 350px;
    height: 350px;
    color: white;
}

.vegas-icon{
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: white;
}

.mainheader{
    background-color: black;
    width: 400px;
    height: 55px;
    color: white;
    font-family: 'bebas_neueregular';
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    transform: rotate(-10deg);
    margin-top: -40px;
}

.subheader{
    background-color: black;
    width: 200px;
    height: 35px;
    color: white;
    font-family: 'bebas_neueregular';
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    transform: rotate(-10deg);
}
