.orangebackground{
    background-color: #F15A24;
    width: 100%;
    height: 100%;
}

.vacancydatetext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-left: -40px;
}

.arrowstyle{
    font-size: 6rem;
    color: white;
    opacity: 0.8;
    padding-top: 50px;
}

.arrowstyle:hover{
    opacity: 1.0;
    color: white;
}

.functiontext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    opacity: 0.8;
    margin-left: -40px;
}

.functiontext:hover{
    color: white;
    opacity: 1.0;
}

.functiontext:hover > .arrowstyle{
    color: white;
    opacity: 1.0;
}

.descriptiontext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic; 
    font-weight: bold;
    margin-left: -40px;
}

.hexagon-homepage{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 150px;
    height: 150px;
    background-color: white;
}

.icon-home{
    width: 150px;
    height: 150px;
}

.triangle-homepage {
    width: 100%;
    height: 30px;
    background: rgb(241,90,36);
    background: linear-gradient(179.5deg, rgba(241,90,36,1) 0%, rgba(241,90,36,1) 50%, rgba(171,65,27,1) 51%, rgba(241,90,36,1) 61%, rgba(241,90,36,1) 100%);
}
    
.triangle-footer-homepage{
    width: 100%;
    height: 30px;
    background: rgb(241,90,36);
    background: linear-gradient(359.5deg, rgba(241,90,36,1) 0%, rgba(241,90,36,1) 50%, rgba(171,65,27,1) 51%, rgba(241,90,36,1) 61%, rgba(241,90,36,1) 100%);

}

.footer-home{
    background-color: #333333;
    color: white;
    height: 20%;
    width: 100%;
    font-family: 'bebas_neueregular';
    position: relative;
    bottom: 0px;
}

.logo-footer-home{
    background-color: #333333;
    width: 50%;
    height: auto;
}

.footer-header-home{
    font-family: 'bebas_neueregular';
    color: white;
    font-weight: bold;
    font-size: 25px; 
}

.footer-text-home{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: italic;  
}