/* HEADER FEATURES */

.header{
    background-color: #333333;
    color: white;
    height: 10%;
    width: 100%;
    font-family: 'bebas_neueregular';
    padding: 0px;
    overflow: hidden;
    position: relative;
}

.headerlogo{
    background-color: #333333;
    width: 50%;
    height: auto;
}

.triangle{
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #F15A24;
    overflow: hidden;
}

/* BODY FEATURES */

.body-orange{
    position: relative;
    background-color: #F15A24;
    width: 100%;
}


/* FOOTER FEATURES */

.footer{
    background-color: #333333;
    color: white;
    height: 10%;
    width: 100%;
    font-family: 'bebas_neueregular';
    padding: 0px;
    overflow: hidden;
    position: relative;
}

.logo-footer{
    background-color: #333333;
    width: 50%;
    height: auto;
}

.footer-header{
    font-family: 'bebas_neueregular';
    color: white;
    font-weight: bold;
    font-size: 25px; 
}

.footer-text{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-style: italic;  
}

