.datestyle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.leveltitle{
    font-family: 'bebas_neueregular';
    font-size: 24px;
    color: #F15A24; 
}

.levelstyle{
    font-family: 'bebas_neueregular';
    font-size: 24px;
    color: black;
}

.locationstyle{
    font-family: 'bebas_neueregular';
    font-size: 24px;
    color: black;
    padding-left: 5px;
}

.descriptionstyle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4;
}

.right{
    float: right;
    margin-right: 10px;    
}

.left{
    float:left;
    margin-left: -60px;
}

.lefttable{
    float:left;
    margin-left: 5px;
}

.vacanciesstyle{
    font-family: 'bebas_neueregular';
    font-size: 24px;
    color: black;
    margin-left: 0px;
}

.company{
    font-family: 'bebas_neueregular';
    font-size: 24px;
    color: #F15A24; 
}

.vacanciestable{
    color: black;
    border: transparent none; 
    margin-left: 100px;
}

.vacanciestable thead tr{
    font-family: 'bebas_neueregular';
    font-size: 20px;
    background-color: white;
    border-left: solid white 1px;
    border-right: solid white 1px;
    border-top: solid white 1px;
}

.vacanciestable thead th:nth-of-type(4){
    text-align: center;
}

.vacanciestable tbody tr{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    border-bottom: solid #333333 2px;
    border-left: solid white 1px;
    border-right: solid white 1px;
    border-top: solid white 1px;
}

.vacanciestable tbody td:nth-of-type(odd){
    color: grey;
}

.vacanciestable tbody td:nth-of-type(even){
    color: #F15A24;
}

.dataTables_wrapper.dataTables_filter{
    visibility: hidden;
}

.centertable{
    text-align: center;
}

.orangetext-apply{
    color: #F15A24; 
    font-size: 3rem;
    font-family: 'bebas_neueregular';
    margin-left: 10px;
}

.orangetext-apply:hover{
    color: red;
}



