<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        
        {# Hier moet dus iets van stylesheets komen --> invoegen van css files? --> check dit nog eens bij Verrukkuluk! #}
        
        {% endblock %}
    </head>
    <body>
        {% block body %}
        
        {# Basic body features  #}

        {% endblock %}
        {% block javascripts %}
        
        {# JS referenties? #}

        {% endblock %}
    </body>
</html>
