{% extends 'base.html.twig' %}

{% block title %}Mijn Profiel{% endblock %}

{% block body %}
    <div class="grid-container grid-container-padding">
        <div class="grid-x grid-padding-x">
            <div class="small-2 medium-2 large-2">
                <br><img src="{{ user.profilepictureurl }}">
            </div>

            <div class="small-1 medium-1 large-1">
            </div>

            <div class="small-9 medium-9 large-9"> 
                <br><h2 style="font-family:bebas_neueregular; color: #F15A24">Mijn Profiel</h2>

                 <label>Company Name</label> 
                <span class="display">{{ user.companyname }}</span><br>

                 <br><label>Contactperson</label> 
                <span class="display">{{ user.firstname }} {{ user.lastname }}</span><br>

           


            </div>
        </div>
    </div>
{% endblock %}
